<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Backend:etc/menu.xsd">
	<menu>
		<add id="ECInternet_Analysis::menu"
		     title="Analysis"
		     translate="title"
		     module="ECInternet_Analysis"
		     parent="ECInternet_Base::base"
			 sortOrder="50"
		     dependsOnModule="ECInternet_Analysis"
		     resource="ECInternet_Analysis::menu" />

		<add id="ECInternet_Analysis::index"
		     title="Analysis Page"
		     translate="title"
		     module="ECInternet_Analysis"
		     parent="ECInternet_Analysis::menu"
		     sortOrder="10"
		     dependsOnModule="ECInternet_Analysis"
		     action="analysis/analysis/index"
		     resource="ECInternet_Analysis::index" />
	</menu>
</config>